body {
    margin: 0;
    padding: 0;

    font-family: 'Cuprum', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 600;
    color: #000000;

    background-color: #ffffff;
}

.main-header {
    background-color: #f3f7f8;
    padding-bottom: 60px;
    margin-bottom: 59px;
}

.main-header a {
    color: #ffffff;
}

.logotype {
    background-color: #ee3643;
}

.logotype:hover,
.logotype:focus {
    background-color: #ca2c37;
}

.logotype:active {
    background-color: #ba2732;
}

.main-navigation ul {
    list-style: none;
}

.header-top {
    background-color: #293449;
    color: #ffffff;
}

.header-top a:hover,
.header-top a:focus {
    background-color: #212a3a;
}

.header-top a:active {
    background-color: #161d29;
    color: #b3b4b6;
}

.header-top input {
    background-color: #293449;
    border: none;
}

.header-top input:hover {
    background-color: #212a3a;
}

.header-top input:focus,
.header-top input:active {
    background-color: #ffffff;
    color: #000000;
}

.header-description {
    color: #ee3643;
    font-style: italic;
    font-size: 16px;
}

.header-top .checkout {
    background-color: #63a63e;
}

.header-top .checkout:hover,
.header-top .checkout:focus {
    background-color: #5fbb2d;
}

.header-top .checkout:active {
    background-color: #518534;
    color: #b3b4b6;
}

.header-contacts p {
    color: #32425c;
}

.header-contacts a {
    color: #ee3643;
}

.site-navigation li {
    background-color: #32425c;
    color: #ffffff;
}

.site-navigation li:hover,
.site-navigation li:focus {
    background-color: #293449;
}

.site-navigation li:active {
    background-color: #1d2739;
    color: #a1a4a8;
}

.header-bottom .login {
    background-color: #ffffff;
    color: #000000;
}

.header-bottom .login:hover,
.header-bottom .login:focus {
    color: #ee3643;
}

.header-bottom .login:active {
    color: #c5c5c5;
}

.header-bottom .registration {
    background-color: #ffffff;
    color: #000000;
}

.header-bottom .registration:hover,
.header-bottom .registration:focus {
    color: #ee3643;
}

.header-bottom .registration:active {
    color: #c5c5c5;
}

.header-top .basket-catalog {
    background-color: #ee3643;
}

.header-top .basket-catalog:hover,
.header-top .basket-catalog:focus {
    background-color: #ca2c37;
}

.header-top .basket-catalog:active {
    background-color: #ba2732;
}

.header-user-navigation a {
    color: #000000;
}

.header-user-navigation .user:active {
    color: #c5cad0;
}

.header-user-navigation .orders,
.header-user-navigation .cabinet {
    color: #32425c;
    text-decoration: underline;
}

.header-user-navigation .orders:hover,
.header-user-navigation .orders:focus,
.header-user-navigation .cabinet:hover,
.header-user-navigation .cabinet:focus {
    color: #ee3643;
}

.header-user-navigation .orders:active,
.header-user-navigation .cabinet:active {
    color: #c5cad0;
}

.header-telephone {
    border: 3px solid #ffffff;
}

a {
    text-decoration: none;
}

.button {
    font: inherit;

    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: #ee3643;
    border: none;
}

.breadcrumps {
    text-decoration: none;
    list-style: none;
    color: #000000;
}

.breadcrumps a {
    color: #000000;
}



.inner-page .container h2 {
    color: #32425c;
    background-color: #f2f6f8;
}

.offers {
    color: #ffffff;
}

.offers a {
    color: #ffffff;
}

.offers__item:first-child {
    background-color: #ffbf47;
}

.offers__item:nth-child(2) {
    background-color: #3bbce3;
}

.offers__item:nth-child(3) {
    background-color: #dc91d8;
}

.offers__item.discounts {
    background-color: #8ed78f;
}

.offers__item:last-child {
    background-color: #ffbf47;
}

/*---*/

.button {
    color: #ffffff;
    background-color: #ee3643;
}

.button:focus,
.button:hover {
    background-color: #ca2c37;
}

.button:active {
    background-color: #ba2732;
}

/*---*/

.info a {
    color: #ffffff;
    background-color: #ee3643;
}

.info a:focus,
.info a:hover {
    background-color: #ca2c37;
}

.info a:active {
    background-color: #ba2732;
}

.show-button {
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #e5e5e5;
}

.contacts a {
    color: #ffffff;
    background-color: #ee3643;
}

.contacts a:hover,
.contacts a:focus {
    background-color: #ca2c37;
}

.contacts a:active {
    background-color: #ba2732;
}

.popular-manufacturers {
    margin-bottom: 85px;
}

.popular-manufacturers-item {
    border: 1px solid #e5e5e5;
}

.popular-manufacturers-item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.catalog-item {
    border: 1px solid #e5e5e5;
}

.catalog-item:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.catalog-item a {
    border-radius: 3px;
}

.catalog-item p {
    font-size: 18px;
    line-height: 20px;
}

.catalog-item-old-price {
    color: #999999;
    text-decoration: line-through;
}

.item-price a {
    background-color: #ee3643;
    color: #ffffff;
}

.item-price a:hover,
.item-price a:focus {
    background-color: #ca2c37;
}

.item-price a:active {
    background-color: #ba2732;
}

.hover-action .buy {
    background-color: #63a63e;
    color: #ffffff;
    border-bottom: 3px solid #367315;
}

.hover-action .buy:hover,
.hover-action .buy:focus {
    background-color: #5fbb2d;
    border-bottom: 3px solid #367315;
}

.hover-action .buy:active {
    background-color: #518534;
    border: none;
}

.hover-action .add-to-bookmarks {
    border: 3px solid #63a63e;
    color: #32425c;
}

.hover-action .add-to-bookmarks:focus,
.hover-action .add-to-bookmarks:hover {
    border: 3px solid #32425c;
}

.hover-action .add-to-bookmarks:active {
    border: 3px solid #c1c6ce;
    color: #d0d2d6;
}

.pagination-list li {
    list-style: none;
    border: 1px solid #e5e5e5;
}

.pagination-list li:hover,
.pagination-list li:focus{
    border: 1px solid #bdc6ca;
}

.pagination-list li:active{
    border: 1px solid #ee3643;
}

.pagination-list a {
    color: #000000;
}

.pagination-item-current {
    background-color: #ca2c37;
}

.pagination-item-current a {
    color: #ffffff;
}

.servises__list {
    list-style: none;
}

.main-footer {
    color: #ffffff;
    background-color: #32425c;

}

.logo-footer a {
    background-color: #ee3643;
}

.logo-footer a:hover,
.logo-footer a:focus {
    background-color: #ca2c37;
    text-decoration: none;
}

.logo-footer a:active {
    background-color: #ba2732;
    color: #ffffff;
}

.main-footer ul {
    list-style: none;
}

.main-footer a {
    color: #ffffff;
}

.servises-headline {
    color: #32425c;
}


.footer-navigation a:focus,
.footer-navigation a:hover,
.footer-price a:focus,
.footer-price a:hover {
    text-decoration: underline;
}

.footer-navigation a:active,
.footer-price a:active {
    color: #a4abb4;
    text-decoration: none;
}

.footer-feedback a:focus,
.footer-feedback a:hover,
.footer-copyright a:focus,
.footer-copyright a:hover {
    text-decoration: underline;
    background-color: transparent;
}

.footer-feedback a:active,
.footer-copyright a:active {
    color: #a4abb4;
    text-decoration: none;
}



.footer-price a {
    color: #ffd180;
}

.footer-price a:active {
    text-decoration: none;
    color: #a6906e;
}

.footer-social a:hover,
.footer-social a:focus {
    background-color: #ee3643;
}

.footer-feedback a,
.footer-copyright a {
    color: #ffd180;
    background-color: transparent;
}

.footer-feedback a:active,
.footer-copyright a:active {
    color: #e53643;
}

.bottom-footer-wrapper {
    background-color: #293449;
}

/* сеточные стили */

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;

}

.main-navigation-wrapper {
    width: 100%;
    margin-bottom: 45px;
    background-color: #293449;
    height: 42px;
}

.main-navigation-wrapper .container {
    display: flex;
    justify-content: space-between;
}

/*поправить размеры, пока так для сетки*/
.logotype {
    width: 180px;
    text-align: center;
}

.search {
    width: 250px;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
}


.site-navigation {
    display: flex;
    justify-content: space-between;
    background-color: #32425c;
}

.site-navigation {
    list-style: none;
    margin: 0;
    padding: 0;
}

.offers {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    text-align: center;
    margin-bottom: 53px;
}

.offers__item {
    margin: 0;
    padding: 0;
    width: 300px;
    height: 123px;
}

.slider {
    width: 620px;
    margin: 0;
    padding: 0;
}

.sliders {
    margin: 0;
    padding: 0;
    list-style: none;
    background-color: #685c53;
    height: 266px;
}

.sliders li {
    width: 100%;
    margin: 0;
    padding: 0;
}

.popular-goods-wrapper {
    display: flex;
    justify-content: space-between;

    background-color: #f9f5f0;
    margin-bottom: 15px;
}

.popular-manufacturers-wrapper {
    display: flex;
    justify-content: space-between;

    background-color: #f9f5f0;
    margin-bottom: 15px;
}

.popular-goods-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
}

.servises {
    background-color: #f4f8f9;
}

.popular-manufacturers-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
}

.filters-and-catalog-wrapper {
    display: flex;
    flex-direction: row;
}

.filter-title {
    background-color: #f7f3ec;
}

.sorting {
    display: flex;
    justify-content: space-between;
    background-color: #f7f3ec;
}

.sorting-top {
    list-style: none;
}

.sorting-top li {
    justify-content: space-between;
    padding: 10px;
}

.sorting-item-first {
    color: #ee3643;
}

.sorting-item-first:hover,
.sorting-item-first:focus {
    text-decoration: underline;
}

.sorting-item {
    color: #cbc8c2;
    text-decoration: underline;
}

.sorting-item:hover,
.sorting-item:focus {
    color: #000000;
    text-decoration: underline;
}

.catalog-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

.popular-manufacturers-item {
    width: 220px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.about-company-wrapper {
    display: flex;
}

.contacts {
    display: flex;
    flex-direction: column;
}

.pagination-list {
    display: flex;
    flex-wrap: wrap;
}

.pagination-list li {
    margin: 10px;
    padding: 10px 20px;
}


.about-category-wrapper {
    background-color: #f2f6f8;
}

.main-footer {
    margin-top: 86px;
    margin-bottom: 50px;
}



.footer-navigation-wrapper {
    display: flex;
    justify-content: space-between;
}

.footer-navigation {
    display: flex;
}

.footer-price {
    display: flex;
}

.bottom-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-social-buttons {
    display: flex;
}

